a {
	color: #37d;
}

a:visited {
	color: #b2b;
}

input,
.unsolved {
	background: #000 !important;
	color: #ddd !important;
	border-color: #555 !important;
}

hr,
#coordinates,
#mw-indicator-mw-helplink, /* Help link on diff */
#mw-indicator-0-coord,
#siteNotice, /* Banners with internal ad */
#p-namespaces, /* View, Talk pages buttons */
.vector-menu-content-list, /* Edit / Edit source buttons */
#p-cactions, /* Dropdown menu at the left from input search */
#p-views, /* Separator vertical line - at the left of search input */
.mw-specialpage-summary, /* Text line "Please visit Commons:Help desk if you need to ask questions about uploading files." */
.footer-content /* Mobile pages */
{
    display: none !important;
}

.documentation,
.iw-resultset,
.mw-parser-output .divbox-gray,
.mwe-upwiz-license-metadata,
figure[typeof~="mw:File/Thumb"],
.page-actions-menu,
footer
{
	background-color: #000 !important;
	border: 0 !important;
}
.documentation-startbox,
.last-modified-bar
{
    border: 0 !important;
}

#mw-fr-reviewnotice,
.navbox,
.navbox-group {
	background-color: #000 !important;
	color: #888;
	border: none !important;
}

#searchform {
	position: absolute;
	top: 0;
	right: 0;
}

/* "Спампацаць" button on Wikisource
 * https://be.wikisource.org/wiki/Новая_зямля_(1923)
 */
.mw-indicators {
	top: 200px;
}

body,
[style*="#CFFF9F;"],
.mw-echo-notifications-badge, 
.mw-highlight,
aside li, /* related articles */
.NavHead,
[style*="#CFFF9F;"],
div.vectorTabs,
div.vectorTabs span,
#mw-head .vectorMenu h3,
.infobox *,
#editpage-specialchars a,
tr,
.quotebox,
.sistersitebox,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.mw-advancedSearch-fieldContainer,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled,
.mw-advancedSearch-namespace-selection,
.wikibase-toolbar-wrapper,
.wikibase-sitelinklistview .wikibase-sitelinkview .wikibase-sitelinkview-siteid-container,
figure[typeof~="mw:File/Thumb"] > figcaption,
.flaggedrevs-color-0 /* diff: phrase "Pending revisions" */,
#pagehistory li.selected,
.wbmi-item.wbmi-item-read .wbmi-item-container, /* Structured data block, on file info page */
.header-container.header-chrome, /* https://be.m.wikisource.org/wiki/Беларускі_правапіс_(1927)/Часьць_другая/32 */
#mw-mf-page-center,
.content .mw-index-pager-list-header
{
    background: #000 !important;
}

.flaggedrevs-pending {
	background: #220;
}
#pagehistory li.selected {
	color: #bbb;
}
.flaggedrevs-color-1 {
	background-color: #334;
}
/* "Browse history interactively" botton on file info page */
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color: #69f;
}

/* background highlight color, like here https://commons.wikimedia.org/wiki/User:Nichalp/Upload_script */
[style*="#e8ece3"],
.wbmi-entity-header /* File info page: Structured data labels */
{
	background-color: #111 !important;
}

.mw-highlight .hll {
	background: #330;
}

/* Page diff: tag. For example
 * https://commons.wikimedia.org/w/index.php?title=File:Rudna--culture-club.jpg&diff=next&oldid=772568011
 */
.mw-tag-markers {
	background: #311;
}

.licensetpl_wrapper {
	background: #222 !important;
	border: 0 !important;
}

/* Revisions interactive widget, for example here
 * https://commons.wikimedia.org/w/index.php?diff=846250953&oldid=772568011&title=File:Rudna--culture-club.jpg
 */
 .mw-revslider-container,
 .mw-revslider-slider-wrapper {
	border: 0 !important;
 }
 .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
	color: #555 !important;
 }
.mw-revslider-revision {
	background: #444 !important;
}
.wbmi-entityview-captionsPanel {
	border-color: #333 !important;
}
.mw-revslider-revision-border-box {
	border: 0;
}
.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
	background: 0 !important;
	border: 0 !important;
}

.quotebox,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-tagMultiselectWidget-handle,
.wbmi-tabs-container .oo-ui-panelLayout-framed,
.wbmi-entityview-statementsGroup,
.wbmi-entityview-statementsGroup,
.oo-ui-panelLayout-framed
{
	border-color: #222 !important;
}

.vectorTabs .selected {
	background-image: none;
	background: gray;
}

div.vectorTabs ul li{
	background-image: none;
	background: #000;
}

.mw-advancedSearch-fieldContainer .oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
	background: #000;
	color: lightgray;
}

#siteSub {
	display:none;
}

/* main font */
.mw-body-content {
	font-size: 1.5em;
}

/* Popup in editing mode */
#mwdw,
.oo-ui-popupWidget-popup, /* Wikidata: popup with "Potential issue" */
.citation
{ 
    color: #000;
}

/* https://www.wikidata.org/wiki/Q171976 */
.wb-deprecated .wikibase-statementview-mainsnak {
	background: #733;
}

.infobox {
	background: #000;
	color: lightgray;
	border: none;
}

div.thumbinner,
.editOptions /* page for editing css - below code */
{
	background-color: #000;
	border: none !important;
}

caption,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color: gray !important;
}

.plainlist,
.mw-edittools-wiki-markup, /* page for editing code - below the code */
.infobox,  /* infobox - is the right from the article */
table,
td
{
	border-color: #222 !important;
}

table,
.plainlinks,
.editOptions, 
.catlinks, 
.noprint,
.mw-parser-output .responsive-license-cc /* https://commons.wikimedia.org/w/index.php?title=File:Browser-extension--intelligent-speaker.png&diff=next&oldid=835447881 */
{
	background: #000 !important;
	border: none !important;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
	background-color: gray;
}

tr {
	color: wheat;
}
tr:before {
	background: none !important;
	border: none !important;
}

th {
	border-color: #222 !important;
}

.mw-body {
	background: #000;
	border-width: 0;
}

.mw-body-content,
aside a, 
aside p, /* related articles: titles & second line with desc*/
.infobox span
{
	color: lightgray !important;
}

/* Override previous
 * Here https://be.wikisource.org/wiki/%D0%A1%D1%82%D0%B0%D1%80%D0%BE%D0%BD%D0%BA%D0%B0:Novaja_ziamlia_1923.pdf/286
 * color of "Гэта старонка не была вычытаная"
 */
.prp-page-qualityheader {
	color: #000 !important;
}

#mw-panel,
#mw-page-base
{
	display:none;
}
 
#content {
	margin-left: 0;
}

#toc
{
	background: #000;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 0;
	color: lightgray;
}
 
.mw-body h1 {
	font-size: 4em;
}

.mw-body h2 {
	font-size: 3em;
}

code {
	color: lightgray;
	background: #000;
	border: 1px solid;
}

.mw-content-ltr.mw-highlight-lines pre,
.oo-ui-tabSelectWidget-frameless /* https://commons.wikimedia.org/w/index.php?diff=846250953&oldid=772568011&title=File:Rudna--culture-club.jpg */
{
	box-shadow: none;
}

.mw-code {
	background: #000;
	color: lightgray;
	border: 0;
}

pre, .mw-code {
	background: #000;
	color: lightgray;
	border: 0;
}

.kw1 { color: lightgray; }
.java.source-java .kw1 {color: lightgray;}
.css.source-css .kw1 { color: lightgray; } /* property name */

.kw3 { color: #4444aa; }
.kw2 { color: #ccc; }

 /* keywords: class, extends, private, this, new, return */
.java5.source-java5 .kw2 { color: white; }

/* code */
.kw4
.java.source-java,  /* return type, ex void */
.kw4,
.nn 
{
	color: lightblue !important;
}

/* constructor call */
.java5.source-java5 .kw166 {
	color: lightseagreen;
}

/* reference and method call */
.java5.source-java5 .me1 {
	color: #0EFF87;
}

/* void */
.java5.source-java5 .kw3 {
	color: #0EFF87;
}

/* () */
.java5.source-java5 .br0 {
	color: #0EFF87;
}

/* <?> */
.java5.source-java5 .sy0 {
	color: #0EFF87;
}

.re0 { color: #6666ff; }
.co5 { color: #6666ff; }
.co3 { color: #6666ff; }
.es0 { color: #6666aa; }
.br0 { color: #ccc; }
.me1 { color: #888; }
.sy0 { color: #444499; }
.nu0 { color: #6666dd; }
.st0 { color: #4444dd; }
.kw5 { color: #3333ff; }
.sy2 { color: #3333ff; }
.sy1 { color: #4040a0; }
.es1 { color: #222299; }
.sy3 { color: #444488; }
.nc,.nf{color: #9090DB !important;}

.ambox {
	background: #000;
	border: 1px solid lightgray;
}

blockquote,
.wikibase-statementgroupview-property,
.wikibase-statementlistview,
.wikibase-sitelinkgroupview-heading-container {
	background: #000 !important;
	border: 1px solid darkslategrey !important;
}

.wikibase-statementgroupview-property {
	border-right: 0 !important;
}

.wikibase-statementview {
	border-bottom: 1px solid darkslategray;
}

/* Here https://be.m.wikisource.org/w/index.php?title=Беларускі_правапіс_(1927)/Часьць_другая/32&action=history */
.action-history #pagehistory li {
	border-bottom: 1px solid #222;
}

.wikibase-referenceview {
	background: #111;
}
.wikibase-labelview-input {
	color: #ddd;
}

.valueview-ineditmode .valueview-input {
	color: #000;
}

div[style*="#FCFCCC;"] {
	background-color: #303023 !important;
}

div[style*="#FFE7CC;"] {
	background-color: #322312 !important;
}

span[style*='background:#FFE7FF;'] {
	background: 0 !important;
}

/* Wikisource: top-right download block */
div[style*='#F3F3F3;'],
#RecuadroPortada /* Wiktionary main page */
{
	background: 0 !important;
}


/* H1 https://be.wiktionary.org/wiki/спатканне */
div[style='background-color:#d4e4f4;'] {
	background: #123 !important;
}

.diffchange {
	background: #855 !important;
}

/* https://be.wikisource.org/wiki/Новая_зямля_(1923) */
.licenseContainer * {
	background: #000 !important;
}

aside h3:after, /* related articles: gradient line */
th,
td
{
    background: none !important;
}

#footer {
    display: none !important;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #555 #000;
}



.mwe-math-mathml-a11y {
    clip: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    display: inherit !important;
}
body.mediawiki .ve-ce-mwLatexNode .mwe-math-mathml-a11y {
    /* override https://phabricator.wikimedia.org/diffusion/EMAT/browse/master/modules/ve-math/ve.ce.MWLatexNode.css */
    display: inherit !important;
}
/* Support where MediaWiki lazy loaded images */
.mwe-math-mathml-inline ~ .lazy-image-placeholder,
.mwe-math-mathml-display ~ .lazy-image-placeholder,
/* Support where MediaWiki doesn't lazy load images */
.mwe-math-mathml-inline + .mwe-math-fallback-image-inline,
.mwe-math-mathml-display + .mwe-math-fallback-image-display {
    display: none !important;
}


::selection {
    background-color: #292;
    color: #000;
}

/* vim: set filetype=css: */
