a {
	color: #36B;
}

a:visited {
	color: purple;
}

.mw-echo-notifications-badge {
	background-color: #000 !important;
}

#mw-fr-reviewnotice {
	background-color: #000;
	color: #8C8C8C;
	border: none;
}

[style*="#CFFF9F;"] {
    background-color: #000 !important;
}

[style*="#CFFF9F;"] {
    background-color: #000 !important;
}

div.vectorTabs {
	background-image: none;
}

div.vectorTabs span {
	background-image: none;
}

div#mw-head div.vectorMenu h3 {
	background-image: none;
}

div.vectorTabs li.selected {
	background-image: none;
	background: gray;
}

div.vectorTabs ul li{
	background-image: none;
	background: #000;
}

div#simpleSearch {
	background: #000;
	border: solid 1px lightgray;
}

div#simpleSearch input {
	background: #000;
	color: lightgray;
}

#siteSub {
	display:none;
}

/* main font */
.mw-body-content {
	font-size: 1.5em;
}

.infobox {
	background: #000;
	color: lightgray;
	border: 1px solid lightgray;
}

div.thumbinner {
	background-color: #000;
	border: 1px solid gray;
}

caption {
	color: gray !important;
}

table, .plainlinks {
	background: #000 !important;
	border: none !important;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
	background-color: gray;
}

tr {
	color: wheat;
}

#mw-page-base {
	background-image: none;
	background: #000;
}

.mw-body {
	background: #000;
	border-width: 0;
}

.mw-body-content {
	color: lightgray;
}

#mw-panel {
	display:none;
}
 
#content {
	margin-left: 0;
}

#toc {
	background: #000;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 0;
	color: lightgray;
}
 
.mw-body h1 {
	font-size: 4em;
}

.mw-body h2 {
	font-size: 3em;
}

code {
	color: lightgray;
	background: #000;
	border: 1px solid;
}

.mw-code {
	background: #000;
	color: lightgray;
	border: 0;
}

pre, .mw-code {
	background: #000;
	color: lightgray;
	border: 0;
}

.kw1 { color: lightgray; }
.java.source-java .kw1 {color: lightgray;}
.css.source-css .kw1 { color: lightgray; } /* property name */

.kw3 { color: #4444aa; }
.kw2 { color: #ccc; }

 /* keywords: class, extends, private, this, new, return */
.java5.source-java5 .kw2 { color: white; }

.kw4 { color: lightblue; }
.java.source-java .kw4 {color: lightblue;} /* return type, ex void */

/* constructor call */
.java5.source-java5 .kw166 {
	color: lightseagreen;
}

/* reference and method call */
.java5.source-java5 .me1 {
	color: #0EFF87;
}

/* void */
.java5.source-java5 .kw3 {
	color: #0EFF87;
}

/* () */
.java5.source-java5 .br0 {
	color: #0EFF87;
}

/* <?> */
.java5.source-java5 .sy0 {
	color: #0EFF87;
}

.re0 { color: #6666ff; }
.co5 { color: #6666ff; }
.co3 { color: #6666ff; }
.es0 { color: #6666aa; }
.br0 { color: #ccc; }
.me1 { color: #888; }
.sy0 { color: #444499; }
.nu0 { color: #6666dd; }
.st0 { color: #4444dd; }
.kw5 { color: #3333ff; }
.sy2 { color: #3333ff; }
.sy1 { color: #4040a0; }
.es1 { color: #222299; }
.sy3 { color: #444488; }
.nc,.nf{color: #9090DB !important;}

table.ambox {
	background: #000;
	border: 1px solid lightgray;
}

.editOptions, .catlinks, .noprint {
	background-color: #000 !important;
	border: none !important;
}

div[style*="#FCFCCC;"] {
	background-color: #303023 !important;
}

div[style*="#FFE7CC;"] {
	background-color: #322312 !important;
}

div#editpage-specialchars a {
	background-color: #000;
}

#footer {
	display:none;
}
