/* ==UserStyle==
@name           Wikipedia and sister projects: black, minimal
@namespace      https://github.com/vitaly-zdanevich/wikipedia-userstyle-dark-minimum
@version        1.0.52
@description    Black, with removed elements that I do not need.
@author         Vitaly Zdanevich
==/UserStyle== */

/* For use with Wikimedia backend, without brawse extension - remove these lines */
@-moz-document domain("wikisource.org"),
domain("wikimedia.org"),
domain("wikipedia.org"),
domain("wiktionary.org"),
domain("wikidata.org")
{
/* End of lines for removing, also remove "}" at the end of this file */

a,
.vector-menu-dropdown .mw-list-item a,
#xtools_result a,
.popup_mainlink a, /* Gadget */
.contributing a
{
	color: #37d;
}

.mw-parser-output .wmf-navbar-body-row1-links ul li a, /* https://meta.wikimedia.org/wiki/Grants:Project/Rapid */
.term a, /* https://meta.wikimedia.org/wiki/Grants:Project/Rapid#Timeline */
.cr-learn-link a /* https://meta.wikimedia.org/wiki/Grants:Project/Rapid#Eligibility_requirements */
{
	color: #37d !important;
}

a:visited {
	color: #b2b;
}

input,
.unsolved,
.summaryButtons button, /* Wikipedia: editing source: buttons to set Summary text */
[style='border-bottom:1px solid #fad67d; background-color:#faecc8; padding:0.2em 0.5em 0.2em 0.5em; font-size:100%; font-weight: ;'], /* Titles at https://be.wikipedia.org/wiki/Вікіпедыя:Даведка  */
[style='border-bottom:1px solid #abd5f5; background-color:#d0e5f5; padding:0.2em 0.5em 0.2em 0.5em; font-size:100%; font-weight: ;'] /* Titles at https://be.wikipedia.org/wiki/Вікіпедыя:Даведка  */
{
	background: #000 !important;
	color: #ddd !important;
	border-color: #555 !important;
}

#p-personal {
	top: 15px !important;
	left: 180px;
}

hr,
#coordinates,
#mw-indicator-mw-helplink, /* Help link on diff */
#mw-indicator-0-coord,
#siteNotice, /* Banners with internal ad */
#p-cactions, /* Dropdown menu at the left from input search */
#p-views, /* Separator vertical line - at the left of search input */
.mw-specialpage-summary, /* Text line "Please visit Commons:Help desk if you need to ask questions about uploading files." */
.footer-content, /* Mobile pages */
#editpage-copywarn,
.oo-ui-icon-reload, /* Because full block is clickable, and with Reload text */
.mw-preview-loading-elements span:nth-child(2), /* Redundant text */
#ct-popup, /* https://be.wikisource.org/wiki/Новая_зямля_(1923)/I when mouse hover on page number, to drop vertical scroll */
#editpage-copywarn2, /* "Калі ласка, не капіюйце тэксты з крыніц, якія ахоўваюцца аўтарскімі правамі (з кніг, сайтаў і іншых), бо такія матэрыялы будуць выдаленыя */
.mwe-upwiz-metadata-notice, /* "EXIF metadata in this file may contain location or other personal data automatically added by your camera" */
.mwe-upwiz-license-metadata, /* Commons uploading: step Describe: bottom of the page - block about captions license (always the same text) */
.sister-projects-wmf, /* Commons main page: logo of Wikimedia */
.sister-projects-family, /* Commons main page: text "Wikimedia Commons is part of the non-profit, multilingual, free-content Wikimedia family */
.detailsForm > div:nth-child(2), /* Commons: Caption field */
.mwe-upwiz-thirdparty-fields:last-child, /* "I confirm that this work does not include material restricted by copyright, such as logos, posters, album covers, etc" */
#histlegend span[style="white-space:nowrap;"]:first-child, /* History page: "араўнаньне: адзначце пунктамі дзьве вэрсіі для параўнаньня і націсьніце «ўвод» альбо кнопку ўнізе." https://be-tarask.wikipedia.org/w/index.php?title=Шаблён:Беларускія_пэрыядычныя_выданьні&action=history */
#histlegend li:first-child, /* History page: drop help texts */
#histlegend li:nth-child(2),
#histlegend li:nth-child(3),
[style='background:#f0f8ff; border:1px dotted #8bcbff; padding:10px; margin-top:10px'], /* Каб пазбегнуць паломак старонак, дзе ўжыты гэты шаблон, пажадана эксперыментаваць у сваёй асабістай прасторы. https://be.wikipedia.org/wiki/Шаблон:Картка/Вікісховішча */
[src$='Blue-bg_rounded.svg/350px-Blue-bg_rounded.svg.png'], /* be.wikipedia.org main page */
[src$='Yellow-bg_rounded.svg/350px-Yellow-bg_rounded.svg.png'],
.mw-newarticletext div[style*='background:#F8FFFF']:first-child /* Help text in Wiktionary edit screen */
{
    display: none !important;
}

.mwe-upwiz-ownwork-purpose { /* Commons: uploading: "This work provides knowledge, instructions, or information to others." that checked by my JS */
	opacity: 0;
}

.documentation,
.iw-resultset,
.mw-parser-output .divbox-gray,
.mwe-upwiz-license-metadata,
figure[typeof~="mw:File/Thumb"],
.page-actions-menu,
footer,
.last-modified-bar,
#filetoc, /* https://commons.wikimedia.org/wiki/File:Сердце_смилович.jpg links above image "Download", "Use this file"... */
li.gallerybox div.thumb, /* https://commons.wikimedia.org/wiki/Category:Historical_images_of_Pryłuki */
#mw-content-text .flaggedrevs_editnotice, /* Wikipedia editing source code: texts "The stable version was checked on...", "Notice: Some of the pending changes affect the area of the page you are editing" */
.mw-editTools div, /* Wikipedia editing source code: fast strings at the bottom */
[style*='white'], /* Talk page, for example https://meta.wikimedia.org/w/index.php?title=Talk:Pageviews_Analysis&diff=next&oldid=26270848 */
[style='height: 16pt; background-color: #D2D2F0; border: 0px; border-bottom: 1px #AAAAC8; border-style: solid; font: 11pt; font-weight: bolder; position: relative;']
{
	background-color: #000 !important;
	border: 0 !important;
}
.documentation-startbox,
.mw-parser-output .sister-projects, /* Commons: main page, near the text "Wikimedia Commons is part of the non-profit, multilingual, free-content Wikimedia family" */
.mw-heading, /* Talk page - line between comment title and comment body */
.oo-ui-panelLayout-framed /* Preferences */
{
    border: 0 !important;
}

.mw-diff-table-prefix {
	/* Diff page: drop horizontal scrollbar https://meta.wikimedia.org/w/index.php?title=Talk:Pageviews_Analysis&diff=next&oldid=26270848 */
	margin-right: 5px;
}

/* https://be.wikipedia.org/wiki/Галоўная_старонка */
.MainPageBG [style="padding:0.2em 0.6em; font-size:95%; overflow: hidden;"],
[style="padding:0.2em 0.6em;; font-size:95%;"]
{
	padding-top: 50px !important;
}

#mw-fr-reviewnotice,
.navbox,
.navbox-group {
	background-color: #000 !important;
	color: #888;
	border: none !important;
}
#p-page {
	position: absolute;
	left: 175px;
	top: -15px;
}
#p-user {
	position: absolute;
	left: 230px;
	top: -13px;
}

#searchform {
	position: absolute;
	top: -9px;
	right: 0;
}

#mw-head .vector-menu-content-list {
	position: absolute;
	top: -16px;
	left: 0;
}
.vector-menu-tabs-legacy li {
	/* Without this - on pages like https://meta.wikimedia.org/wiki/User:Vitaly_Zdanevich/global.js "User Page", "Discussion" will use more space */
	height: initial;
}
#left-navigation .vector-menu-content-list { /* Buttons "Page", "Discussion" */
	filter: invert();
}

/* "Спампацаць" button on Wikisource
 * https://be.wikisource.org/wiki/Новая_зямля_(1923)
 *
 * https://en.wikisource.org/wiki/Alice's_Adventures_in_Wonderland_(1907)/Chapter_8
 *
 * https://en.wikisource.org/wiki/Popular_Science_Monthly/Volume_54/December_1898/General_Notices
 */
.mw-indicators {
	top: 100px;
}

.mw-special-MediaSearch .mw-indicators {
	top: 156px;
}

body,
[style*="#CFFF9F;"],
.mw-echo-notifications-badge, 
.mw-highlight,
aside li, /* related articles */
.NavHead,
[style*="#CFFF9F;"],
div.vectorTabs,
div.vectorTabs span,
#mw-head .vectorMenu h3,
.infobox *,
#editpage-specialchars a,
tr,
.quotebox,
.sistersitebox,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.mw-advancedSearch-fieldContainer,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled,
.mw-advancedSearch-namespace-selection,
.wikibase-toolbar-wrapper,
.wikibase-sitelinklistview .wikibase-sitelinkview .wikibase-sitelinkview-siteid-container,
.flaggedrevs-color-0 /* diff: phrase "Pending revisions" */,
#pagehistory li.selected,
.wbmi-item.wbmi-item-read .wbmi-item-container, /* Structured data block, on file info page */
.header-container.header-chrome, /* https://be.m.wikisource.org/wiki/Беларускі_правапіс_(1927)/Часьць_другая/32 */
#mw-mf-page-center,
.content .mw-index-pager-list-header,
#doc,
.ts-doc-header,
.mw-parser-output .template-documentation, /* https://commons.wikimedia.org/wiki/Creator:Frank_Schulenburg */
.mw-collapsible, [style='background-color:#CCCCFF;'], /* https://ru.wikipedia.org/wiki/%D0%94%D0%A2-75 */
.oo-ui-selectFileInputWidget.oo-ui-widget-enabled.oo-ui-selectFileInputWidget-dropTarget, /* https://commons.wikimedia.org/wiki/Special:UploadWizard */
#upload-wizard .arrow,
.mw-parser-output .wst-process-header .wst-header-notes, /* https://en.wikisource.org/wiki/Help:Beginner%27s_guide_to_adding_texts */
#mwe-upwiz-deeds-thumbnails, /* Commons upload: 'Release rights' step */
.mwe-upwiz-deed-subgroup, /* Commons upload: 'Release rights' step: node about public domain info */
.ui-suggester-list .ui-state-hover, /* Wikidata: property name suggestion */
.sdms-search-results__details--expanded, /* Commons search: right preview https://commons.wikimedia.org/w/index.php?search=crispa.uw.edu.pl%2F&title=Special:MediaSearch&go=Go&type=image */
.mw-mmv-above-fold, /* Commons: file preview: bottom block with name and button More */
#p-page-label, /* "Page" button at the top (from gadget MoreMenu): vertical line at the right */
#p-user-label, /* "User" button at the top: vertical line at the right */
.mw-htmlform-submit-buttons, /* Preferences: bottom panel with Save button */
.oo-ui-tagMultiselectWidget-handle, /* History page: node with "Active filters" buttons */
.mw-parser-output .category-redirect-content
{
    background: #000 !important;
}

/* https://ru.wikisource.org/wiki/Новая_Земля_(1934,_перевод_Сергея_Городецкого)
 * Download popup: close button X
 */
.oo-ui-icon-close {
	filter: invert();
}

.flaggedrevs-pending,
.mw-parser-output .templatebox-usagesample, /* https://commons.wikimedia.org/wiki/Creator:Frank_Schulenburg */
.mw-parser-output .templatebox-languagedependant, /* https://commons.wikimedia.org/wiki/Creator:Frank_Schulenburg */
.sdms-quick-view__cta, /* Commons search: button "More Details" */
.mwe-upwiz-file:hover .mwe-upwiz-visible-file, /* Commons: step Upload: node hover of uploaded */
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected /* Preferences: panel with buttons like "User profile", "Appearance", "Editing"...: active button */
{
	background: #220 !important;
}
h2,
#pagehistory li.selected,
.oo-ui-fieldLayout-header, /* Label for commit message input */
.mwe-upwiz-label-title a, /* "Do you know what Creative Commons license this work was published under?" */
.cdx-tabs:not(.cdx-tabs--framed) > .cdx-tabs__header .cdx-tabs__list__item:enabled, /* Commons search: top bar buttons */
.mainpage-box-content [style*='#000;'], /* Commons: main page: block with text like "Upload your local culture photos during Wiki Loves Folklore 2024" */
#xtools_result,
.wikibase-snakview-value.wikibase-snakview-variation-valuesnak, /* Wikidata text data */
.hatnote,
#clearprefcache, /* Text about caching, for example here https://en.wikipedia.org/wiki/User:Vitaly_Zdanevich/languagesToBottom.js */
.side-box-text, /* Wikipedia: texts like "Wikimedia Commons has media related to Gentoo" */
.mwe-upwiz-stepdiv, /* Commons uploading: main texts */
.language-lexical-category-widget, /* Wikidata lexeme https://www.wikidata.org/wiki/Lexeme:L152015 */
.wikibase-lexeme-form-id,
.wikibase-lexeme-form-grammatical-features-header,
.mw-parser-output .collapse-mobile > .mw-collapsible-toggle, /* Unfoldable titles https://meta.wikimedia.org/wiki/Grants:Project/Rapid */
.funds-timeline-content, /* Text like "Cycle 5" in boxes https://meta.wikimedia.org/wiki/Grants:Project/Rapid#Timeline */
.wmf-department-info-title, /* Titles here https://meta.wikimedia.org/wiki/Grants:Project/Rapid#Timeline */
cite, /* Wikipedia quote */
.mw-filepage-resolutioninfo, /* Commons: "Size of this preview:", "Other resolutions:" */
#ooui-php-7 .oo-ui-labelElement-label, /* Commons: "File information" */
#ooui-php-8 .oo-ui-labelElement-label, /* Commons: "Structured data" */
.wbmi-entityview-caption, /* Commons: "File information": names of languages */
#mw-hidden-catlinks, /* Commons: "Hidden categories" */
#p-page-label, /* "Page" button at the top (from gadget MoreMenu): vertical line at the right */
#p-user-label, /* "User" button at the top: vertical line at the right */
.sub, /* https://be.wikipedia.org/wiki/Галоўная_старонка -> Вікіпраекты */
.oo-ui-fieldsetLayout-header, /* Preferences: subtitles of group of prefs */
.oo-ui-fieldLayout-field, /* Preferences: labels */
.popupData, /* Gadget */
.navpopup .reference-text .citation, /* Gadget */
.popupPreview, /* Gadget */
[style='padding-left: 51px; color:#333;'], /* Titles at https://be.wikipedia.org/wiki/Вікіпедыя:Што_рабіць */
[style='padding-left: 38px; color:#333;'],
.category-redirect-header, /* https://commons.wikimedia.org/wiki/Category:Rakaw */
.category-redirect-header + div, /* https://commons.wikimedia.org/wiki/Category:Rakaw */
#mw-category-empty, /* https://commons.wikimedia.org/wiki/Category:Rakaw */
#wdinfobox + .multilingual, /* Top text at https://commons.wikimedia.org/wiki/Category:Rakaŭ */
.mw-rcfilters-ui-cell.mw-rcfilters-ui-watchlistTopSectionWidget-watchlistDetails, /* Watchlist description at https://be.wikipedia.org/wiki/Адмысловае:Watchlist?hidepreviousrevisions=1&hidecategorization=1&hideWikibase=1&limit=250&days=3&urlversion=2 */
#mw-fr-revisiontag-edit, /* History page: text like "The stable version was checked on 21 February 2024. There is 1 pending change awaiting review." https://be.wikipedia.org/w/index.php?title=Новая_зямля_(паэма)&action=history  */
.mw-pager-navigation-bar, /* History page: nav like (newest | oldest) View (newer 50 | older 50) (20 | 50 | 100 | 250 | 500) https://be.wikipedia.org/w/index.php?title=Новая_зямля_(паэма)&action=history */
.wikibase-entitytermsview-heading-description, /* https://www.wikidata.org/wiki/Property:P9001 */
.prp-pages-output div:nth-child(3), /* Title at https://en.wikisource.org/wiki/Popular_Science_Monthly/Volume_54/December_1898/General_Notices */
.catlinks, /* https://commons.wikimedia.org/wiki/Category:Historical_images_of_Belarus */
.catlinks + .description,
[style='float:right; margin: 0 0 1em 4%; min-width: 22em; width: 28%;'] span, /* Right "infobox" https://meta.wikimedia.org/wiki/Grants:Programs/Wikimedia_Community_Fund/Rapid_Fund/Wwwyzzerdd_user_experience_improvements_and_critical_maintenance_(ID:_22024892) */
[style='text-align:center; font-size:8pt; padding:4pt; line-height:1.25em; color:#000000;'],
[style='width:45px; height:45px; background:#dddddd; text-align:center; font-size:14pt; font-weight:bold; color:#000000;'], /* Right https://be.wikipedia.org/wiki/Удзельнік:Lš-k. */
[style='border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.75); -moz-box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.75); -webkit-box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.75);; background-color: #F5DEB3; border: 1px solid #777777; padding: 5px;'] span /* Bottom node "Спаборніцтва па колькасці артыкулаў паміж беларускім і найбліжэйшымі раздзеламі Вікіпедыі" https://be.wikipedia.org/wiki/Удзельнік:Lš-k. */
{
	color: #bbb !important;
}
.flaggedrevs-color-1,
kbd[style*='background:#EEEEEE'],
.sd-select-menu__list-item--selected /* Commons: search: dropdowns with "File Type", "Image size": selected element */
{
	background-color: #334 !important;
}
/* "Browse history interactively" botton on file info page */
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color: #69f;
}

#upload-wizard {
    max-width: 99%
}
.arrowSteps li.arrow::before,
.arrowSteps li.arrow::after {
    border-left-color: #222 !important;
}
#mwe-upwiz-step-thanks {
    background: #000
}
#mwe-upwiz-steps li.head { /* Commons: uploading: highlight current step */
	color: green !important;
}

/* Commons: Uploading: first step Upload: drag-n-drop reaction */
.oo-ui-selectFileInputWidget.oo-ui-widget-enabled.oo-ui-selectFileInputWidget-canDrop.oo-ui-selectFileInputWidget-dropTarget {
	font-size: 50px;
	border: 9px dashed red;
}


/* background highlight color, like here https://commons.wikimedia.org/wiki/User:Nichalp/Upload_script */
[style*="#e8ece3"],
.wbmi-entity-header /* File info page: Structured data labels */
{
	background-color: #111 !important;
}

.mw-highlight .hll,
.mainpage-box-orange .mainpage-box-title /* Commons main page: orange titles of blocks */
{
	background: #330 !important;
}

.mainpage-box-green .mainpage-box-title, /* Commons main page: green titles of blocks */
.wb-preferred .wikibase-statementview-mainsnak /* Wikidata: preferred property name */

{
	background: #131 !important;  /* Darkgreen */
}

.mw-parser-output .wst-header .wst-header-mainblock /* https://en.wikisource.org/wiki/Alice%27s_Adventures_in_Wonderland_(1907)/Chapter_8 */
{
	background: #131 !important;  /* Darkgreen */
	border: none;
}

.mainpage-box-blue .mainpage-box-title /* Commons main page: blue titles of blocks */
{
	background: #003 !important;
}

/* Page diff: tag. For example
 * https://commons.wikimedia.org/w/index.php?title=File:Rudna--culture-club.jpg&diff=next&oldid=772568011
 */
.mw-tag-markers {
	background: #311;
}

.licensetpl_wrapper,
.cdx-tabs:not(.cdx-tabs--framed) > .cdx-tabs__header, /* Commons search: top bar with buttons */
.mw-message-box-warning, /* Block with text "Remember that this is only a preview. Your changes have not yet been saved!" */
.navpopup /* Gadget */
{
	background: #222 !important;
	border: 0 !important;
}

/* Revisions interactive widget, for example here
 * https://commons.wikimedia.org/w/index.php?diff=846250953&oldid=772568011&title=File:Rudna--culture-club.jpg
 */
.mw-revslider-container,
.mw-revslider-slider-wrapper,
.wb-lexeme .lemma-widget_lemma /* Wikidata lexeme */
{
	border: 0 !important;
}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.sd-select-menu__list-item--active, /* Commons: search: dropdown of "File Type", "Image size" */
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover
{
	color: #555 !important;
 }
.mw-revslider-revision,
span[style='background-color:#EDF0FF'], /* https://be.wiktionary.org/wiki/маркотна#Значэнне */
.sdms-search-filters .sd-select__content:hover /* Commons search: buttons "License", "File Type"... */
{
	background: #222 !important;
}
.wbmi-entityview-captionsPanel,
.mw-parser-output .ts-doc-doc,
#editpage-specialchars
{
	border-color: #333 !important;
}
.mw-revslider-revision-border-box {
	border: 0;
}
.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button,
.hlist
{
	background: 0 !important;
	border: 0 !important;
}

.ext-WikiEditor-ManualWidget {
	background: #333;
	border: 0;
}

.ext-discussiontools-init-targetcomment {
	background: 0;
	border: 5px dashed #4f4;
}

#content {
	margin-top: 20px; /* Without this - title is over the search input */
	padding: 0; /* To save space for the content */
}

/* https://be.wikipedia.org/wiki/Галоўная_старонка: space between Image of the day and the image */
[style='text-align:left; position:relative; left:4px; top:2px; margin:0;']:nth-child(9) {
	margin-bottom: 60px !important;
}

.quotebox,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-tagMultiselectWidget-handle,
.wbmi-tabs-container .oo-ui-panelLayout-framed,
.wbmi-entityview-statementsGroup,
.wbmi-entityview-statementsGroup,
.mainpage-box-orange, /* Commons main page */
.mainpage-box-green, /* Commons main page */
.mainpage-box-blue, /* Commons main page */
.oo-ui-panelLayout-framed,
.plainlist,
.mw-edittools-wiki-markup, /* page for editing code - below the code */
.infobox,  /* infobox - is the right from the article */
table,
td
{
	border-color: #222 !important;
}

.vectorTabs .selected {
	background-image: none;
	background: gray;
}

div.vectorTabs ul li{
	background-image: none;
	background: #000;
}

.mw-advancedSearch-fieldContainer .oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label,
.sdms-search-filters .sd-select__content, /* Commons search: buttons "License", "File Type", "Image size", ... */
[style='background:#F0F8FF;border:1px dotted #8BCBFF;padding:10px;margin-top:10px;clear:both;'], /* https://be.wikipedia.org/wiki/Шаблон:Картка/Вікісховішча */
.oo-ui-tabOptionWidget
{
	background: #000 !important;
	color: lightgray;
}

#siteSub,
#mw-usercssyoucanpreview
{
	display: none;
}

/* main font */
.mw-body-content,
.popupPreview /* Gadget */
{
	font-size: 1.5em;
}

table h3, /* https://be.wikisource.org/wiki/Галоўная_старонка */
#mwdw, /* Popup in editing mode */
.oo-ui-popupWidget-popup p, /* Wikidata: popup with "Potential issue" */
.oo-ui-popupWidget-popup h3, /* Commons: mouse hover on "application/pdf": "Privacy considerations" and text after https://commons.wikimedia.org/wiki/File:Minskij_Listok_1886_03.pdf */
.oo-ui-widget .citation, /* Citation in reference edit popup */
ol.references li:target, /* Click to source[1] - highlight the source */
.mw-mmv-source, /* Media Viewer: bottom panel with description */
.mw-mmv-filename-prefix,
.mw-mmv-filename,
.mw-mmv-datetime,
.popupPreview .popupDiff, /* Gadget */
.guider_description, /* Popup with messages like "Welcome to improved Recent Changes filtering" */
.rt-tooltip cite, /* Popup tooltip on English Wikipedia */
#ooui-11, /* Popup tooltip on English Wikipedia: preferences */
.oo-ui-window-frame .oo-ui-labelElement p, /* Commons popup with text "We recommend that you properly fill in all the fields. Do you want to continue without correcting these warnings?" */
.oo-ui-window-frame .oo-ui-labelElement li, /* ..."One of the categories lacks a description page. Are you sure you typed the name correctly?" */
.oo-ui-window-frame .oo-ui-fieldLayout-header .oo-ui-labelElement-label /* "Save your changes" popup with Summary - color of "This is a minor edit" and "Watch this page" */
{ 
    color: #000 !important;
}

/* Commons uploading: Category chip on step "Describe": increase distance between a category name and "X" of removing */
.oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed) {
	padding-right: 30px;
}

/* https://www.wikidata.org/wiki/Q171976 */
.wb-deprecated .wikibase-statementview-mainsnak,
.ui-closeable.wb-error /* Wikidata: when Commons category not exists */
{
	background: #733;
}

/* Wikidata: bottom block with links to articles, Wikibooks, Wikiquote... */
.wikibase-sitelinkgrouplistview {
	width: 100%
}

.wikibase-sitelinkview-enwiki,
.wikibase-sitelinkview-ruwiki,
.wikibase-sitelinkview-bewiki,
.wikibase-sitelinkview-be_x_oldwiki,
.interwiki-en,
.cx-new-interlanguage-link,
.interwiki-ru,
.interwiki-be,
.interwiki-be-x-old,
.interwiki-be-tarask
{
    font-size: 40px;
}

.infobox,
figure[typeof~="mw:File/Thumb"] > figcaption,
#histlegend /* "Вонкавыя прылады: статыстыка правак · пошук праўкі · статыстыка наведваньняў. Тлумачэньне: (цяп) = адрозьненьні ад цяперашняй вэрсіі, (папярэдняя) = адрозьненьні ад папярэдняй вэрсіі, д = дробная праўка." History page: description of stat links https://be-tarask.wikipedia.org/w/index.php?title=Шаблён:Беларускія_пэрыядычныя_выданьні&action=history */
{
	background: #000 !important;
	color: lightgray;
	border: none;
}

.mw-parser-output #wdinfobox {
	width: 40% !important; /* https://commons.wikimedia.org/wiki/Category:Frank_Schulenburg */
}

div.thumbinner,
.editOptions /* page for editing css - below code */
{
	background-color: #000;
	border: none !important;
}

caption,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color: gray !important;
}

table,
.plainlinks,
.editOptions, 
.catlinks, 
.noprint,
.mw-parser-output .responsive-license-cc, /* https://commons.wikimedia.org/w/index.php?title=File:Browser-extension--intelligent-speaker.png&diff=next&oldid=835447881 */
.wmf-footer-container, /* Footer with links https://meta.wikimedia.org/wiki/Grants:Project/Rapid#Timeline */
[style='margin:0.5em; background:#eeeeee; border:1px solid #ddd; color:#222; padding:0.2em 0.4em; font-size:120%; font-weight:bold; font-family:inherit;'],
[style='background: #f9f9f9; border: 1px solid #aaaaaa; float: right; clear: right; margin: .5em 0em .8em 1.4em; font-size: 90%; padding: .5em 1em; width: 230px; height: auto;'], /* https://be.wikipedia.org/wiki/Вікіпедыя:Спасылкі_на_крыніцы */
[style='background-color: #E3E3F5; border-top: #D2D2F0 1px solid; text-align: right; font-size: 90%; padding-right: 0.5em'],
.mw-parser-output .wst-header .wst-header-notes /* https://en.wikisource.org/wiki/Alice%27s_Adventures_in_Wonderland_(1907)/Chapter_8 */
{
	background: #000 !important;
	border: none !important;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
	background-color: gray;
}

span[style='background-color:yellow'], /* [крыніца?] /* https://be.wikipedia.org/wiki/Вікіпедыя:Спасылкі_на_крыніцы */
span[style='background:yellow'] /* https://en.wikipedia.org/wiki/Wikipedia:Tools/Navigation_popups#Options */
{
	background: #742 !important;
}

tr,
[style='border-bottom: 1px solid #aaaaaa; padding-bottom: .4em; font-weight: bold; font-size: 120%;'], /* https://be.wikipedia.org/wiki/Вікіпедыя:Спасылкі_на_крыніцы */
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected, /* Preferences: panel with subpages like "User profile", "Appearance", "Editing"... */
.block-indent /* https://be.wikipedia.org/wiki/Вікіпедыя:Адказы_на_частую_крытыку */
{
	color: wheat !important;
}
tr:before {
	background: none !important;
	border: none !important;
}

th {
	border-color: #222 !important;
}

.mw-body {
	background: #000;
	border-width: 0;
}

/* Commons main page */
.mainpage.mw-content-ltr {
	max-width: 100% !important;
}

/* For mobile */
#bodyContent {
	width: 100%;
	max-width: 100%;
}

p,
dl, /* Talk page - comment body */
center /* https://be.wikipedia.org/wiki/Вікіпедыя:Спасылкі_на_крыніцы  */,
.noprint,
ul li, /* For example this list https://ru.wikipedia.org/wiki/Рудня_(Червенский_район)#Население  */
ol li, /* Wikipedia: sources list */
aside a, 
aside p, /* related articles: titles & second line with desc*/
.infobox span,
[style='width:50%; border:1px solid #cef2e0; padding:0; background-color: #ffffff; vertical-align:top; color:#000;'] /* https://be.wikipedia.org/wiki/Галоўная_старонка: article of the day: text around link was black on black */
{
	color: lightgray !important;
}

/* Override p */
.mwe-popups-container p, /* Wikipedia: mouse hover on link popup */
.funds-timeline-date, /* https://meta.wikimedia.org/wiki/Grants:Project/Rapid */
#mw-mwoauth-authorize-form p,
.ui-dialog .oo-ui-fieldLayout-header, /* Popup about link https://be.wiktionary.org/w/index.php?title=%D0%BB%D1%8D%D0%BC%D0%B1%D1%83%D1%81&action=submit */
.ui-dialog .oo-ui-labelElement-label,
#prefcontrol[aria-disabled='true'] span /* Preferences: Save button when no changes and nothing to save */
{
	color: #000 !important;
}

#mw-panel,
#mw-page-base,
.mwe-popups-container footer /* Wikipedia: link hover popup: drop bottom part with gear ico */
{
	display: none;
}
 
#content {
	margin-left: 0;
}

#toc
{
	background: #000;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 0;
	color: lightgray;
}
 
.mw-body h1 {
	font-size: 4em;
}

.mw-body h2 {
	font-size: 2em;
}

code {
	color: lightgray;
	background: #000;
	border: 1px solid;
}

.mw-content-ltr.mw-highlight-lines pre,
.oo-ui-tabSelectWidget-frameless /* https://commons.wikimedia.org/w/index.php?diff=846250953&oldid=772568011&title=File:Rudna--culture-club.jpg */
{
	box-shadow: none;
	border: 0;
}

/* Commons: Structured data: map height increase */
.wbmi-item .wbmi-item__map {
	height: 400px;
}

.mw-code {
	background: #000;
	color: lightgray;
	border: 0;
}

pre, .mw-code {
	background: #000;
	color: lightgray;
	border: 0;
}

.kw1 { color: lightgray; }
.java.source-java .kw1 {color: lightgray;}
.css.source-css .kw1 { color: lightgray; } /* property name */

.kw3 { color: #4444aa; }
.kw2 { color: #ccc; }

 /* keywords: class, extends, private, this, new, return */
.java5.source-java5 .kw2 { color: white; }

/* code */
.kw4
.java.source-java,  /* return type, ex void */
.kw4,
.nn 
{
	color: lightblue !important;
}

/* constructor call */
.java5.source-java5 .kw166 {
	color: lightseagreen;
}

/* reference and method call */
.java5.source-java5 .me1 {
	color: #0EFF87;
}

/* void */
.java5.source-java5 .kw3 {
	color: #0EFF87;
}

/* () */
.java5.source-java5 .br0 {
	color: #0EFF87;
}

/* <?> */
.java5.source-java5 .sy0 {
	color: #0EFF87;
}

.re0 { color: #6666ff; }
.co5 { color: #6666ff; }
.co3 { color: #6666ff; }
.es0 { color: #6666aa; }
.br0 { color: #ccc; }
.me1 { color: #888; }
.sy0 { color: #444499; }
.nu0 { color: #6666dd; }
.st0 { color: #4444dd; }
.kw5 { color: #3333ff; }
.sy2 { color: #3333ff; }
.sy1 { color: #4040a0; }
.es1 { color: #222299; }
.sy3 { color: #444488; }
.nc,.nf{color: #9090DB !important;}

.ambox
{
	background: #000 !important;
	border: 1px solid lightgray;
}

blockquote,
.wikibase-statementgroupview-property,
.wikibase-statementlistview,
.wikibase-sitelinkgroupview-heading-container,
[style='background-color: #FAFAFF; width: 100%; border: 1px #D2D2F0 solid; margin-bottom: 5px;margin-left:-1px'] /* https://be.wikipedia.org/wiki/Вікіпедыя:Што_рабіць  */
{
	background: #000 !important;
	border: 1px solid darkslategrey !important;
}

.wikibase-statementgroupview-property,
.wikibase-statementlistview
{
	border-left: 0 !important;
	border-right: 0 !important;
}

.wikibase-statementview {
	border-bottom: 1px solid darkslategray;
}

/* Here https://be.m.wikisource.org/w/index.php?title=Беларускі_правапіс_(1927)/Часьць_другая/32&action=history */
.action-history #pagehistory li {
	border-bottom: 1px solid #222;
}

.wikibase-referenceview,
#p-page .vector-menu-content .vector-menu-content-list, /* MoreMenu: "Page" button dropdown */
#p-user .vector-menu-content .vector-menu-content-list /* MoreMenu: "User" button dropdown */
{
	background: #111;
}
.wikibase-labelview-input,
.wikipediauserbox *:not(a) /* https://en.wikipedia.org/wiki/User:Vitaly_Zdanevich */
/* "This user is in the free and open-source software task force" */
{
	color: #ddd !important;
}

.valueview-ineditmode .valueview-input,
.funds-intro-items p /* https://meta.wikimedia.org/wiki/Grants:Project/Rapid */
{
	color: #000 !important;
}

div[style*="#FCFCCC;"] {
	background-color: #303023 !important;
}

div[style*="#FFE7CC;"] {
	background-color: #322312 !important;
}

span[style*='background:#FFE7FF;'],
#p-namespaces
{
	background: 0 !important;
}

/* List of languages from my userscript https://meta.wikimedia.org/wiki/User:Vitaly_Zdanevich/global.js */
#p-lang {
	margin-top: 30px;
}

/* Wikisource: top-right download block */
div[style*='#F3F3F3;'],
#RecuadroPortada /* Wiktionary main page */
{
	background: 0 !important;
}


/* H1 https://be.wiktionary.org/wiki/спатканне */
div[style='background-color:#d4e4f4;'],
.ns-0 #mw-content-text h1 /* https://ru.wiktionary.org/wiki/лозняк */
{
	background: #123 !important;
	border: 0;
}

/* Here https://be.wiktionary.org/w/index.php?fulltext=1&search=верашчака&title=Адмысловае%3ASearch&ns0=1 labels "Сартаваць паводле рэлевантнасці" */
.oo-ui-tagItemWidget.oo-ui-widget-disabled,
.oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed) {
	background: 0;
	text-shadow: none;
}

.diff-deletedline .diffchange,
.mw-diff-inline-changed del
{
	background: #411 !important;
}
.diffchange,
.mw-diff-inline-added ins,
.mw-diff-inline-changed ins
{
	/* https://be.wikipedia.org/w/index.php?title=Новая_зямля_(паэма)&diff=prev&oldid=4680402 */
	background: #242 !important;
}

.mw-diff-inline-moved del,
.mw-diff-inline-moved ins,
.mw-diff-inline-deleted del
{
	color: #000;
}

/* https://be.wikisource.org/wiki/Новая_зямля_(1923) */
.licenseContainer *,
.sd-select-menu, /* Commons search: dropdowns with "File Type", "Image size"... */
.oo-ui-tabSelectWidget-framed /* Preferences: panel with subpages like "User profile", "Appearance", "Editing"... */
{
	background: #000 !important;
}

aside h3:after, /* related articles: gradient line */
th,
td
{
    background: none !important;
}

#footer,
.mw-diff-inline-legend /* https://be.wikipedia.org/w/index.php?title=Новая_зямля_(паэма)&diff=prev&oldid=4680538 */
{
    display: none !important;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #555 #000;
}



.mwe-math-mathml-a11y {
    clip: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    display: inherit !important;
}
body.mediawiki .ve-ce-mwLatexNode .mwe-math-mathml-a11y {
    /* override https://phabricator.wikimedia.org/diffusion/EMAT/browse/master/modules/ve-math/ve.ce.MWLatexNode.css */
    display: inherit !important;
}
/* Support where MediaWiki lazy loaded images */
.mwe-math-mathml-inline ~ .lazy-image-placeholder,
.mwe-math-mathml-display ~ .lazy-image-placeholder,
/* Support where MediaWiki doesn't lazy load images */
.mwe-math-mathml-inline + .mwe-math-fallback-image-inline,
.mwe-math-mathml-display + .mwe-math-fallback-image-display {
    display: none !important;
}


::selection {
    background-color: #292;
    color: #000;
}


/* For use with Wikimedia backend, without brawse extension - remove this line */
}

@-moz-document url("https://www.wikidata.org/wiki/Special:NewItem") {
	/* "By clicking "Create", you agree to the terms of use, and you irrevocably agree to release your contribution under the Creative Commons CC0 License. */
	#mw-content-text > div:nth-child(2) {
		display: none;
	}
}

/* vim: set filetype=css: */
